.even{

    background-color:yellow;
    height: 20px;
    width: 280px;
    margin: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

.odd{
 
    background-color: rgb(79, 163, 79);
    height: 20px;
    width: 280px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(151, 22, 22);
}

input{
    background-color: blueviolet;
    border-color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.UserName{
color: seagreen;
}
